body {
    width: 100dvw;
    height: 100dvh;
    background: rgb(101, 13, 12);
    background: linear-gradient(129deg, rgba(101, 13, 12, 1) 4%, rgba(174, 9, 23, 1) 22%, rgba(100, 13, 14, 1) 90%, rgba(224, 0, 26, 1) 100%);
    color: #FFF;
}

main {
    height: calc(100dvh - 112px);
    display: flex;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    border-bottom: 1px solid;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.titleContainer h1 {
    font-size: 22px;
    font-weight: 700;
}

.titleContainer img {
    width: 64px;
    height: 64px;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 256px;
    height: calc(100% - 32px);
}

aside h2 {
    font-size: 18px;
    font-weight: 700;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}

section {
    border: 1px solid white;
    width: 100%;
    margin: 16px;
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

section button {
    margin: 12px;
    border-color: #090909;
    color: black;
}

.outputField {
    width: 512px;
    max-height: 256px;
    min-height: fit-content;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 4px;
    color: black;
}

.outputField form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.outputField form label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.outputField form label input {
    padding: 4px;
    border: 1px solid #090909;
    border-radius: 54px;
}

.formBtn {
    position: static;
}